* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  margin: 0px 0px 0px 0px;
  width: 100%;
  height: 100vh;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

.container {
  width: 1200px;
  margin: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #1B2473;
}

.overlay__body {
  position: fixed;
  width: 600px;
  min-height: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  background: #fff;
  padding: 80px;
}

.form__title {
  font-size: 24px;
  text-align: center;
  margin: 0px 0px 10px 0px
}

.form__block input {
  border: 2px solid #787878;
  margin: 0px 0px 10px 0px
}

.form__block span {
  display: none;
}

.form__block_flex label {
  display: block;
  padding: 0px 0px 10px 0px
}

.form__block_flex input {
  padding: 7px 7px 7px 7px;
  width: 80%;
  border-radius: 5px;
}

.form__btn {
  background: #1A226B;
  padding: 7px 20px;
  border: none;
  border-radius: 5px;
  display: flex;
  color: #fff;
  margin: 10px auto;
  font-size: 18px;
}
.act {
  color: red;
}
.act span {
  display: block;
}
.act input {
  border: 2px solid red;
}
